*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: monospace;
  /* background-color: black; */
  background: linear-gradient(-45deg, #ee7752, #3c96db, #241a58, #547a8c);
  background-size: 1000%;
  animation: gradient 25s ease infinite;
  /* height: 100vh; */

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
